*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
Debug/
DebugPublic/
Release/
Releases/
x64/
x86/
build/
bld/
bin/
obj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn